@import url('https://fonts.googleapis.com/css2?family=Signika:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}



body {
	margin: 0;
	background-color: #F2EFEB;

}
h1 {
	font-family: signika;
}
h3 {
	font-family: serif;
	letter-spacing: 3px;
	color: #8F8F8C;
	
}
.productList > section {
	display: grid;
	max-width: 1200px;
	margin: auto;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 50px;
	margin-bottom: 50px;
}
.productBody {
	display: flex;
	flex: auto;
	flex-direction: column;
	padding: 1em;
	justify-content: center;
}


.product{
	display: flex;
	flex-direction: column;
	background: #ffffff;
	position: relative;
	width: 300px;
}

.productImage {
	position: relative;
	padding: 10px;
	max-width: 100%;
	height: auto;
	height: auto;
	margin: 0 auto;
}

.productList {
	display: flex;
	flex-wrap: wrap;
}

.buttonDiv {
	width: 100%;
	display: flex;
	justify-content: center;
	
	
}
.productTemplate {
}